
<table style="font-family: Arial">
	<tr>
		<td colspan="2" class="header">
			<h1>
			    Phonebook App
			</h1>
		</td>
	</tr>
	<tr ng-controller = "contactsController">
		<td class="leftMenu">
		    <a href="/dashboard?user={{user_id}}">Profile</a>
		    <a href="/contacts?user={{user_id}}">Contacts</a>
		    <a href="/explore?user={{user_id}}">Explore</a>
		    <a href="/" type="button" ng-click="logout()" >Log out</a>
		    <!-- <div><h4><a href="http://www.code-sample.com/2015/06/redirect-to-new-page-using-location-or.html">For more detail..</a></h4></div> -->
		</td>
		<td>
			<div><h2>Create a new contact</h2></div>
			<table>
				<thead>
					<th>First Name</th><th>Last Name</th><th>Phone</th><th>Email</th>
				</thead>
				<tbody>
					<td><input type="text" placeholder="First name" ng-model="data.first_name" required maxlength="20"></td>
		    		<td><input type="text" placeholder="Last name" ng-model="data.last_name" maxlength="20"></td>
		    		<td><input type="text" placeholder="Phone" ng-model="data.phone" maxlength="15"></td>
		    		<td><input type="email" placeholder="Email" ng-model="data.email" maxlength="20"></td>
	    		</tbody>
    		</table>
		      <input type="button" value = "Add to contacts" ng-click="create()">
		    </div>
		    
		    
		    <div>
		    	<h2>Contacts List</h2>
		    	<p ng-show="isempty(true)">Wow, you currently have no contacts. You have no life.</p>
		    </div>
		    
		    
			<table ng-show="isempty(false)">
				<thead>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Phone</th>
					<th>Email</th>
					<th>*</th>
					<th>*</th>
				</thead>
				<tbody ng-repeat = "contact in contacts" class = "scroll-auto">
					<td>
						<div ng-show="ifedit(contact.contact_id)">
						{{contact.first_name}} 
						</div>
						<div ng-show="ifedit(contact.contact_id, true)">
							<input type="text" placeholder="{{contact.first_name}}" ng-model="contact.first_name" maxlength="20">
						</div>
					</td>
					<td>
						<div ng-show="ifedit(contact.contact_id)">
						{{contact.last_name}} 
						</div>
						<div ng-show="ifedit(contact.contact_id, true)">
							<input type="text" placeholder="{{contact.last_name}}" ng-model="contact.last_name" maxlength="20">
						</div>
					</td>
					<td>
						<div ng-show="ifedit(contact.contact_id)">
						{{contact.phone}} 
						</div>
						<div ng-show="ifedit(contact.contact_id, true)">
							<input type="text" placeholder="{{contact.phone}}" ng-model="contact.phone" maxlength="15">
						</div>
					</td>
					<td>
						<div ng-show="ifedit(contact.contact_id)">
						{{contact.email}} 
						</div>
						<div ng-show="ifedit(contact.contact_id, true)">
							<input type="email" placeholder="{{contact.email}}" ng-model="contact.email" maxlength="20">
						</div>
					</td>
					<!-- Buttons Pane -->
					<td>						
						<!-- Edit/Save Button -->
						<div ng-show="ifedit(contact.contact_id, null)">
							<input type="button" ng-click="edit(contact.contact_id)" value="Edit">
						</div>
						<div ng-show="ifedit(contact.contact_id, true)">
							<input type="button" ng-click="save(contact)" value="Save">
						</div>
					</td>
					<td>
						<!-- Delete Button -->
						<input type="button" ng-click="delete(contact.contact_id)" value="Delete">
					</td>

				</tbody>
			</table>
		</td>
	</tr>
	
	<tr>
		<td colspan="2" class="footer">
		    <b>Website Footer</b>
		</td>
	</tr>
</table>
