<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="main">
<title>PhoneBook App</title>
<head>
  <meta charset="utf-8">
  <!-- Import AngularJS -->
  <script src="https://code.angularjs.org/1.8.2/angular.js"></script>
  <script src="https://code.angularjs.org/1.8.2/angular-route.js"></script>

  <!-- Load Scripts -->
  <script src="js/dashboard.js"></script>
  <link href="css/styles.css" rel="stylesheet" />
  <base href="/"/>
</head>

<body class="mainContent">
	<ng-view></ng-view>
</body>

</html>
