<!DOCTYPE html>
<html ng-app="main">
<title>PhoneBook App</title>
<head>
  <meta charset="utf-8">
  <!-- Import AngularJS -->
  <script src="https://code.angularjs.org/1.8.2/angular.js"></script>
  <script src="https://code.angularjs.org/1.8.2/angular-route.js"></script>

  <!-- Load Scripts -->
  <script src="js/var.properties.js"></script>
  <script src="js/module.main.js"></script>
  <script src="js/class.BaseAccount.js"></script>
  <link href="css/styles.css" rel="stylesheet" />
  <base href="/home"/>
</head>

<body>
  <table style="font-family: Arial">
      <tr>
          <td colspan="2" class="header">
              <h1>
                  PhoneBook App
              </h1>

          </td>
      </tr>
      <tr>
          <td class="leftMenu">
              <a href="home">Home</a>
              <a href="register">Register</a>
              <a href="login">Login</a>
          </td>
          <td class="mainContent">
              <ng-view></ng-view>
          </td>
      </tr>
      <tr>
          <td colspan="2" class="footer">
              <b>Website Footer</b>
          </td>
      </tr>
  </table>
</body>

</html>
